<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>man01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{59,0},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{59,100},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{0,200},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{59,200},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{0,300},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{59,300},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manglide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,180}</string>
                <key>spriteSourceSize</key>
                <string>{97,180}</string>
                <key>textureRect</key>
                <string>{{0,400},{97,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manjump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{0,580},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caveman.png</string>
            <key>size</key>
            <string>{118,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63f3fa5ddd7dc98bfcdd390b7c9bf6c:b853881fea5e2f6fffd0a97c21857feb:1cccb8c45f2849fa4c7e9edc9b029ce8$</string>
            <key>textureFileName</key>
            <string>caveman.png</string>
        </dict>
    </dict>
</plist>
